Importing the dependencies

In [62]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

Importing data set and standardising it.
**Standardization ,or mean removal and varience scaling.**
Standardisation is a common requiredment for many 
machine learning estimators,they might behave badly if individual features do not look like standard normal distribution data:Gausian with ***zero mean*** and ***unit varience*** (z = (x-u)/s)

In [63]:
from sklearn.preprocessing import StandardScaler

Now spliting the data into training set and test set

In [64]:
from sklearn.model_selection import train_test_split

SVM or Support Vector Machines are the simple tool to classify the data into two set .Example wheather the animal is cat or dog. Create acluster of two data. It divide the two data by a descison boundary

In [65]:
from sklearn import svm
from sklearn.metrics import accuracy_score

Data Collection Analysis

In [66]:
# loading the dataset
diabetes_dataset = pd.read_csv('/content/diabetes.csv')

In [67]:
#printing first five rows of dataset
diabetes_dataset.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [68]:
# printing last five data of dataset
diabetes_dataset.tail()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
763,10,101,76,48,180,32.9,0.171,63,0
764,2,122,70,27,0,36.8,0.340,27,0
765,5,121,72,23,112,26.2,0.245,30,0
766,1,126,60,0,0,30.1,0.349,47,1
767,1,93,70,31,0,30.4,0.315,23,0

In [69]:
# geting no. od rows and columns
diabetes_dataset.shape
# means we have data from 768 person and 9 features

(768, 9)

In [70]:
#statistical measures of dataframe
diabetes_dataset.describe()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,3.845052,120.894531,69.105469,20.536458,79.799479,31.992578,0.471876,33.240885,0.348958
std,3.369578,31.972618,19.355807,15.952218,115.244002,7.884160,0.331329,11.760232,0.476951
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000,0.000000
25%,1.000000,99.000000,62.000000,0.000000,0.000000,27.300000,0.243750,24.000000,0.000000
50%,3.000000,117.000000,72.000000,23.000000,30.500000,32.000000,0.372500,29.000000,0.000000
75%,6.000000,140.250000,80.000000,32.000000,127.250000,36.600000,0.626250,41.000000,1.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

In [71]:
# .values_counts()  -   Return a Series containing counts of unique values
diabetes_dataset['Outcome'].value_counts()
# means this will count no. of 1 and o outcome are there in the dataset

0    500
1    268
Name: Outcome, dtype: int64

0 - represents non diabetic people


1 - represents diabetic people

In [72]:
# A groupby operation involves some combination of splitting the object,...
# applying a function, and combining the results.This can be used to group...
# large amounts of data and compute operations on these groups.
diabetes_dataset.groupby('Outcome').mean()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
Outcome,,,,,,,,
0,3.298000,109.980000,68.184000,19.664000,68.792000,30.304200,0.429734,31.190000
1,4.865672,141.257463,70.824627,22.164179,100.335821,35.142537,0.550500,37.067164

In [73]:
# here in above table  mean value of Glucose in all those people who are diabetic is 141.25

In [74]:
# separating data and lables
X = diabetes_dataset.drop(columns = 'Outcome',axis = 1) # axis = 1 if you are droping a column 
y = diabetes_dataset['Outcome']                         # axis = 0 if we are droping row

In [75]:
X

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
0,6,148,72,35,0,33.6,0.627,50
1,1,85,66,29,0,26.6,0.351,31
2,8,183,64,0,0,23.3,0.672,32
3,1,89,66,23,94,28.1,0.167,21
4,0,137,40,35,168,43.1,2.288,33
...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63
764,2,122,70,27,0,36.8,0.340,27
765,5,121,72,23,112,26.2,0.245,30
766,1,126,60,0,0,30.1,0.349,47
767,1,93,70,31,0,30.4,0.315,23

In [76]:
y

0      1
1      0
2      1
3      0
4      1
      ..
763    0
764    0
765    0
766    1
767    0
Name: Outcome, Length: 768, dtype: int64

In [77]:
# data standardisation
scaler =  StandardScaler()

In [78]:
scaler.fit(x)

StandardScaler()

In [79]:
standardized_data = scaler.transform(x)

In [80]:
standardized_data # all the values are in the range of -1 and 1

array([[ 0.63994726,  0.84832379,  0.14964075, ...,  0.20401277,
         0.46849198,  1.4259954 ],
       [-0.84488505, -1.12339636, -0.16054575, ..., -0.68442195,
        -0.36506078, -0.19067191],
       [ 1.23388019,  1.94372388, -0.26394125, ..., -1.10325546,
         0.60439732, -0.10558415],
       ...,
       [ 0.3429808 ,  0.00330087,  0.14964075, ..., -0.73518964,
        -0.68519336, -0.27575966],
       [-0.84488505,  0.1597866 , -0.47073225, ..., -0.24020459,
        -0.37110101,  1.17073215],
       [-0.84488505, -0.8730192 ,  0.04624525, ..., -0.20212881,
        -0.47378505, -0.87137393]])

In [81]:
X = standardized_data
y = diabetes_dataset['Outcome']

**test_size**    --->   0.2 means 20 % of data is treated for testing


**Stratify**---> we mention the variable 'y' as the column for stratification then the division is done in such a way that each unique outcome value comes in both the Data Sets (Train /test ). Otherwise all the cases for diabetic will go to X_train and all the non dibetc may go to x_test


**Random_state**--->  used to replicate the data for a perticular data if anyone use the same format i.e random_state = 2 all of them have same set of data randomly ditrivuted

In [82]:
X_train,X_test,y_train,y_test = train_test_split(x,y,test_size = 0.2,stratify = y,random_state  =2)

In [83]:
classifier = svm.SVC(kernel='linear')

In [84]:
# trainimng the svm classifier
classifier.fit(X_train,y_train)

SVC(kernel='linear')

Model Evaluvation

In [85]:
# accuracy score on training data
X_train_prediction = classifier.predict(X_train)
X_train_accuracy = accuracy_score(X_train_prediction,y_train)

In [86]:
print("Accuracy Score of Training Data",x_train_accuracy)

Accuracy Score of Training Data 0.7866449511400652

In [87]:
# accuracy score on test data
X_test_prediction = classifier.predict(X_test)
X_test_accuracy = accuracy_score(X_test_prediction,y_test)

In [88]:
print("Accuracy Score of Test Data",X_test_accuracy)

Accuracy Score of Test Data 0.7727272727272727

# **Prediction**

In [89]:
input_data  =  (6,148,72,35,0,33.6,0.627,50)

# now changing input data list into numpy array
input_data_as_numpy_array = np.asarray(input_data)           #asarray will convert input data list into arr

#reshaping the array as we are predicting for one instance
input_data_reshaped =  input_data_as_numpy_array.reshape(1,-1)

std_data = scaler.transform(input_data_reshaped)
print(std_data)
prediction = classifier.predict(std_data)
if prediction[0] == 0:
  print("Non Diabetic")
else:
  print(" **Diabetic**  ")

[[6.00000000e+00 1.48000000e+02 7.20000000e+01 3.50000000e+01
  3.00685403e-17 3.36000000e+01 6.27000000e-01 5.00000000e+01]]
 **Diabetic**